body {
  background-color: #222222;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightblue;
}

button {
  background-color: #222222;
  border: 1px solid #2b2f5c;
  padding: 8px;
}

#add-post {
  background-color: #2b2f5c;
  border: thin solid black;
  margin: 10px 5px 10px 5px;
  padding: 15px;
}

#header {
  background-color: #2b2f5c;
  border: thin solid black;
  padding: 5px;
  margin: auto;
}

#login {
  position: absolute;
  right: 85px;
  top: 105px;
}

#form {
  background-color: #2b2f5c;
  border: thin solid black;
  margin: 10px 5px 10px 5px;
  padding: 15px;
}

#submit-login {
  background-color: #222222;
  border: 1px solid #2b2f5c;
  margin: 8px;
  padding: 8px;
}

#submit-register {
  background-color: #222222;
  border: 1px solid #2b2f5c;
  margin: 8px;
  padding: 8px;
}

#register {
  position: absolute;
  right: 15px;
  top: 105px;
}

#forum {
  font-weight: bold;
}

#posts {
  background-color: #2b2f5c;
  border: thin solid black;
  margin: auto;
  padding: 10px;
}